h1 {
  font-weight: bold;
}

.container-one {
  display: flex;
  justify-content: space-between;
}

.container-one h1 {
  margin: 0 0 0 5rem;
}

.inside-container-one {
  margin: 0.7rem 8rem 0 0;
}

.inside-container-one .trial-button {
  margin: 0 1rem;
  width: 15rem;
  background-color: rgb(3, 3, 74);
  border-color: rgb(3, 3, 74);
}

.inside-container-one .login-button {
  width: 15rem;
  background-color: orange;
  border-color: orange;
}

.container-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-two .main {
  text-align: center;
}

.container-two .main form {
  width: 40rem;
}

.container-two .main h1,
p {
  margin: 0;
}

.container-two .main .email-input {
  margin: 1.5rem 0;
  height: 4rem;
}

.container-two .main .password-input {
  height: 4rem;
}

.container-two .main .login-button2 {
  background-color: rgb(3, 3, 74);
  color: white;
  width: inherit;
  height: 4.5rem;
  margin: 2rem 0;
}

.container-two .main .more-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-two .main .more-text a {
  color: black;
}

.container-two .color {
  height: 50rem;
  width: 80rem;
  background-color: rgb(3, 3, 74);
}

@media screen and (max-width: 375px) {
  .container-one h1 {
    margin: 2rem 0 0 15.5rem;
  }

  .container-two {
    margin: 13rem 0 0 0;
  }

  .container-two .color {
    display: none;
  }

  .container-one .inside-container-one {
    display: none;
  }
}
